.SimpleCounter-buttons {
    display: flex;
    flex-direction: row;
}

.SimpleCounter-buttons button {
    padding: 10px;
    margin: 5px;
    width: 100px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.SimpleCounter-incrementBtn {
    background-color: green;
}

.SimpleCounter-decrementBtn {
    background-color: red;
}

.SimpleCounter-resetBtn {
    background-color: orange;
}